@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ffd000;
  --primary-color-light: #3a3a30;
  --primary-color-extra-light: #35373b;
  --secondary-color: #ff9214;
  --secondary-color-dark: #d79447;
  --text-light: #3a3a30;
  --white: #060606;
  --max-width: 1300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mark-farmacia {
  position: absolute;
  width: 200px;
  bottom: 0;
  right: -80px;
  z-index: 1000;
  filter: drop-shadow(5px 5px 20px black);
  opacity: 1;
}

.nav__links__mobile .link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.nav__links__mobile img {
  width: 20px;
  margin-bottom: 5px;
  padding-right: 2px;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--white);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}



body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color)!important;
  overflow-x: hidden;
  
}

nav {
  max-width: var(--max-width);
  padding: 2rem 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  z-index: 10000;
}

.nav__logo {
  width: 180px;
  
}

.nav__links .link {
  display: flex;
  
}

.nav__links img {
  width: 20px;
  margin-bottom: 5px;
  padding-right: 2px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.35rem;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.link a:hover {
  color: var(--secondary-color);
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transition: 0.3s;
}

/*MENU MOBILE*/

.nav__links__mobile {
  display: none;
  flex-direction: column;
  margin-right: -15px;
  padding: 10px;
}

.nav__links__mobile .link {
  list-style: none;
}

.link a:hover::after {
  width: 60%;
}

.header__container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.header__container::before {
  content: "Educação";
  position: absolute;
  bottom: 1rem;
  right: 15rem;
  font-size: 9rem;
  font-weight: 700;
  line-height: 7rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), transparent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1; /* Mantém visível, já que a transparência está no gradiente */
  z-index: -1;
}

.header__blur {
  bottom: 5rem;
  right: 0;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--white); 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px var(--white);
}

.header__content h1 span {
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px var(--white);
 
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header__image {
  position: relative;
}

.header__image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--secondary-color);
  opacity: 0.3;
  z-index: -1;
}

.header__image img {
  max-width: 350px;
  margin: auto;
  animation: floating-e-rotation 3s ease-in-out infinite;
  transform-origin: center;
}

.section__container {
  position: relative;
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.explore__nav span:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: coral;
}

.explore__card p {
  margin-bottom: 1rem;
  color: white;
}

.explore__card a {
  color: coral;
  transition: 0.3s;
}

.explore__card a:hover {
  color: var(--secondary-color);
}

/*FORMULARIO*/

 /* Estilos do modal */
 .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.mark-astronaut-modal {
  position: absolute;
  width: 100px;
  left: -50px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.377));
}

.modal-content p {
  font-family: "Poppins", sans-serif;
}

.modal button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/*marcas de agua da sessao form*/

.mark {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.15;
}

.mark-asteroide {
  top: 100px;
  right: 110px;
}

.mark-astronaut {
  bottom: 30px;
  left: 40px;
}

.mark-astronaut-2 {
  top: 300px;
  left: 230px;
}

.mark-cometa {
  top: 200px;
  right: 340px;
}

.mark-stars {
  bottom: 30px;
  right: 400px;
}

.mark-rocket {
  top: 60px;
  left: 500px;
}

.mark-rocket-review {
  bottom: 150px;
  right: 700px;
}

.mark-galaxy {
  top: 30px;
  left: 50px;
}

.mark-moon {
  bottom: 50px;
  left: 550px;
}

.mark-moon-review {
  bottom: 25px;
  left: 800px;
}

.mark-planet {
  top: 20px;
  right: 600px;
}

.mark-satelit {
  top: 50%;
  right: 40px;
}



.section__form {
  background-color: var(--primary-color-light);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
  width: 100%;
}

/* From Uiverse.io by ammarsaa */ 


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  width: 100vw;
  border-radius: 10px;
  position: relative;
  background-color: var(--primary-color-light);
  color: #fff;
}

.div-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  padding: 120px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: coral;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: coral;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: var(--secondary-color-dark);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}


.submit {
  border: none;
  outline: none;
  padding: 10px;
  color: black;
  font-size: 1rem;
  transform: .3s ease;
  background-color: coral;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.submit:hover {
  background-color: var(--secondary-color-dark);
}



.triangle__form {
  position: absolute;
  bottom: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent; /* Metade da base */
  border-right: 50px solid transparent; /* Metade da base */
  border-top: 86.6px solid var(--primary-color-light);
  border-bottom: 0;
  animation: jump 2s ease-in-out infinite;
}

.class__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.class__image {
  position: relative;
}

.class__image .class__img-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 500px;
  border-radius: 10px;
}

.class__image .class__img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
  border-radius: 10px;
}

.class__content {
  padding: 2rem 0;
}

.class__content .section__header {
  text-align: left;
  max-width: 400px;
}

.class__content p {
  margin-bottom: 4rem;
  color: var(--text-light);
}

.join__image {
  margin-top: 4rem;
  position: relative;
}

.slider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slider__container {
  display: flex;
  transition: 0.7s ease-in-out;
  transform: translateX(0);
}

.slide img {
  width: 100%;
  border-radius: 10px;
  max-height: 600px;
  display: block;
}

.join__grid {
  position: absolute;
  bottom: -5rem;
  width: calc(100% - 4rem);
  padding: 2rem;
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--primary-color-light);
  border-radius: 10px;
}

.join__card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join__card span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.join__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.join__card p {
  color: white;
}

.review {
  background-color: var(--primary-color-light);
  position: relative;
  margin-top: 200px;
  max-height: 800px; 
}

.review__container {
  display: flex;
  gap: 2rem;
}

.review__container > span {
  font-size: 6rem;
  color: var(--secondary-color);
  opacity: 0.5;
}

.review__content {
  flex: 1;
}

.review__content h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.review__content p {
  max-width: 800px;
  margin-bottom: 2rem;
  color: white;
}

.review__rating span {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.review__footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.review__member {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.review__member img {
  max-width: 60px;
  border-radius: 100%;
}

.review__member__details h4 {
  margin-bottom: 0;
  
}

.review__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.review__nav span {
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.footer__container {
  position: relative;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__col {
  max-width: 700px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer__blur {
  bottom: 0;
  right: 0;
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footer__col p {
  margin-bottom: 2rem;
  color: black;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.footer__col > a {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: black;
  transition: 0.3s;
}

.footer__col > a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--primary-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer__bar span {
  color: #060606;
  font-weight: 500;
}

.logo-atmos {
  filter: invert(1);
  width: 32px;
  height:32px;
}

.footer__bar a {
  display: flex;
  align-items: center;
  transition: filter 3s ease;
}

.footer__bar a:hover .logo-atmos{
  filter: grayscale(1) brightness(0.5);
}

.footer__bar a:hover span {
  color: #797972;
}




